body {
    background: url(rps.jpg) no-repeat center top;
    background-size: cover;
}
h1{
    color:lightcoral;
    text-align: center;
}
h2{
    color: lightblue;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
.button{
    position: relative;
    left:590px;
}